/*
 * Basic navigation, header and footer layout
 * This stylesheet should grow to include default content look&feel
 *
 * The normal .php.net website has two columns, "main" and "second"
 * Please use the following classes for those:
 *     class="secondscreen" is for "sidebar content"
 *     class="mainscreen" for "main content"
 *
 * When only one column is needed, or a full width wrapper is needed use:
 *     class="fullscreen" for container/full width
 *
 *
 * Search boxes and main menu navigation is automatically hidden on
 * small devices, with a "menu icon" which toggles those items.
 * When toggled, each menu item plus the searchbox are printed
 * on its own line (rather then inline-block, as is the default).
 *
 * This stylesheet also includes the anchor fix, so #fragment
 * does not get hidden by the fixed header.
 */

body {
  color: #444 !important;
  font: normal 1em Tahoma, Arial, sans-serif, serif, monospace;
  background-color: #E3E3F1;
  height: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0 !important;
}
header {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;

  border-bottom: 0.25em solid #669;
  background-color: #99c;
  box-shadow: 0 .25em .25em rgba(0,0,0,.1);
  z-index: 1;
}
footer {
  border-top: .25em solid #99C;
  background-color: #262626 !important;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45px;
}
footer nav {
  margin: 0 auto;
}
nav {
  line-height: 2.5;
}
nav img {
  vertical-align: middle;
}
nav ul {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  display: inline-block;
  font: normal 16px/2.5 "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  padding: 0 0.75em;
  color: #eef !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none !important;
}
nav a:hover {
  color: #fff !important;
}
nav form {
  display: inline-block;
  width: 100%;
}
nav input {
  width: 100%;
  color: #333 !important;
  font: normal 16px/1.5 "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  text-shadow: 0 1px 0 #ffffff;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bolder;
  color: #446;
  background: #E3E3F1;
  border-radius: 0 0 2px 2px;
  border-color: #C6C6E2;
  box-shadow: inset 1px 0 1px -1px #C6C6E2, inset -1px 0 1px -1px #C6C6E2;
  padding: 0.333333333em 0.444444444em !important;
  margin-top: 0.333333333em !important;
  border-top: 2px solid #669;
  border-bottom: 1px solid;
}
h1 {
  font-size: 1.25em;
  line-height: 1;
  margin:0 0 .5em !important;
}
h2 {
  font-size: 1.20em;
  line-height: 1.2;
  margin:0 0 0.6em !important;
}
h3 {
  font-size: 1.125em;
  line-height: 1.333333333;
  margin:0 0 0.66666666666667em !important;
}
p {
  margin: .75em 0;
}

section.fullscreen {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  display: block;
  padding-bottom: 50px;

}
section.mainscreen {
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;
}
.secondscreen {
  vertical-align: top;
  display: inline-block;
}

/* Grab attention with a warning */
.warning {
  background: #f9ecf2;
  border: 1px solid #eecdde;

  padding: 1em;
  margin: 0px;

  text-align: center;
  font-weight: bold;
  font-size:1.17em;

  color: #660000;
}

/* {{{ Responsive styles */
#mainmenu-toggle-overlay, #mainmenu-toggle {
  display: none;
}
#mainmenu-toggle:checked + nav {
  /* This just has to be big enough to cover whatever's in nav. */
  max-height: 50em;
}
@media (max-width:640px) {

  #mainmenu-toggle-overlay {
    background: #669 url(//php.net/images/mobile-menu.png) no-repeat center center;
    float: right;
    display: block;
    height: 32px;
    width: 34px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  #mainmenu-toggle {
    height: 32px;
    width: 34px;
    line-height: 32px;
    margin-top: 10px;
    margin-right: -34px;
    float: right;
    border-bottom: 0;
    display: inline-block;
    opacity: 0;
  }
  header nav {
    max-height: 0;
    overflow-x: hidden;
  }
  nav {
    overflow-y: auto;
    clear: both;
  }
  nav ul, nav li, nav a {
    display: block;
    text-align: center;
  }
  a.home {
    position: absolute;
    top: 0;
  }
  .fullscreen,
  .mainscreen,
  .secondscreen {
    width: 100%;
    display: block;
  }
  section.fullscreen {
    top: 50px;
  }
  footer {
    max-height: 0;
  }
  img {
    max-width: 100%;
  }
}
@media (min-width: 641px) {
  .fullscreen,
  .mainscreen,
  .secondscreen {
    width: 90%;
    display: inline-block;
  }
  section.fullscreen {
    top: 85px;
  }
  section.secondscreen {
    margin-bottom: 75px;
  }
  header, footer, section.fullscreen {
    padding: 0 10%;
  }
  img {
    max-width: 100%
  }
}

@media (min-width: 1020px) {
  .fullscreen {
    width: 100%;
    display: block;
  }
  section.fullscreen {
    top: 45px;
  }
  section.mainscreen {
    margin-bottom: 75px;
  }
  header, footer, section.fullscreen {
    padding: 0 10px;
  }
  .mainscreen {
    width: 65%;
    display: inline-block;
    padding: 0;
    padding: 0 35px 0 0;
  }
  .secondscreen {
    width: 300px;
  }
}
@media (min-width: 1250px) {
  header, footer, section.fullscreen {
    padding: 0 40px;
  }
  .fullscreen {
    width: 100%;
  }
  .mainscreen {
    width: 65%;
    padding: 0 40px;
  }
}
/* }}} */

/* vim: set expandtab shiftwidth=2 softtabstop=2 tabstop=2 fdm=marker : */
