/*
 * Basic navigation, header and footer layout
 * This stylesheet should grow to include default content look&feel
 *
 * The normal .php.net website has two columns, "main" and "second"
 * Please use the following classes for those:
 *     class="secondscreen" is for "sidebar content"
 *     class="mainscreen" for "main content"
 *
 * When only one column is needed, or a full width wrapper is needed use:
 *     class="fullscreen" for container/full width
 *
 *
 * Search boxes and main menu navigation is automatically hidden on
 * small devices, with a "menu icon" which toggles those items.
 * When toggled, each menu item plus the searchbox are printed
 * on its own line (rather then inline-block, as is the default).
 */

/* {{{ Base styles */
html {
  font-size:100%;
}
body {
  color: #333;
  font: normal 1rem/1.5 Tahoma, Arial, sans-serif, serif, monospace;
  background-color: #C4C9DF;
  width: 100%;
  overflow-y: scroll;
}
body, header, section, footer {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  border-bottom: 0.25em solid #4F5B93;
  background-color: #8892BF;
  box-shadow: 0 .25em .25em rgba(0,0,0,.1);
  z-index: 1;
}

body footer {
  border-top: .25em solid #8892BF;
  background-color: #333;
  width: 100%;
}
nav {
  line-height: 3rem;
}
nav a.home {
  margin-right:1.5rem;
}
nav img {
  vertical-align: middle;
}
nav ul {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
body header nav a:link,
body header nav a:visited {
  display: inline-block;
  color: #E2E4EF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
header nav ul a {
  padding: 0 0.75em;
}
nav a:hover {
  color: #fff;
}
nav form {
  display: inline-block;
  width: 100%;
}
nav input {
  width: 100%;
  color: #333 !important;
  font: normal 1rem/1.5 "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  text-shadow: 0 1px 0 #ffffff;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
footer a {
  color: #eef !important;
  text-decoration: none;
  padding: 0 0.75em;
}
footer a:hover {
  color: #fff !important;
}
a:link,
a:visited {
  color:#369;
}
a:hover,
a:focus {
  color:#693;
}
h1, h2, h3, h4, h5, h6, dt {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bolder;
  color: #333;
  background: #E2E4EF;
  padding: .375em .5em;
  border-top: 2px solid #4F5B93;
  border-bottom: 1px solid #C4C9DF;
  border-radius: 0 0 2px 2px;
  line-height: 1.5rem;
  margin:0 0 1.5rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3, dt {
  font-size: 1.125rem;
}
dl {
  background-color: #333;
  opacity: 0.9;
  color: #fff;
}
dt {
  background: #f0f0f0;
  margin-bottom: 0;
}
dd {
  padding: 0.5em .444444444em !important;
}
p {
  margin: 0 0 1.5rem;
}
ul, ol {
  margin: 0 0 1.5rem;
  padding:0 0 0 2.5rem;
}
.clearfix:before,
.clearfix:after {
  display:table;
  content:"";
  line-height:0;
}
.clearfix:after {
  clear:both;
}
sub,
sup {
  position:relative;
  vertical-align:baseline;
}
sub {
  bottom:-.25em;
}
sup {
  top:-.4em;
}
hr {
  display:block;
  height:1.5rem;
  border:0;
  margin:1.5rem 0;
}
hr:before {
  display:block;
  content:" ";
  border-bottom:1px dotted #ccc;
  padding: .75rem 0 0 ;
}
/* }}} */

/* {{{ fullscreen/mainscreen/secondscreen tweaks */
/* For (responsive) widths, see the Reponsive styles */
.fullscreen,
.mainscreen,
.secondscreen {
  box-sizing:border-box;
}
body section.fullscreen > section.mainscreen {
  padding:1.5rem 1.5rem 0;
}
body section.fullscreen > section.mainscreen:only-child {
  width:100%;
}
.fullscreen > .fullscreen,
section.mainscreen {
  background: #fff;
}
section a {
  color: #369;
  border-bottom: 1px solid;
  text-decoration: none;
}
section.fullscreen .current:before {
  content: "\bb \20";
}
/* }}} */


/* Grab attention with a warning */
.warning {
  background: #f9ecf2;
  border: 1px solid #eecdde;

  padding: 1em;
  margin: 0px;

  text-align: center;
  font-weight: bold;
  font-size:1.17em;

  color: #660000;
}

/* {{{ Default table styling */
table {
  border-spacing: 0;
  width: 100%;
  padding-right: 80px;
}
tbody tr:nth-child(odd) {
  background-color: #bbd;
}
tbody tr:nth-child(even) {
  background-color: #E2E4EF;
}
thead tr,
tfoot tr {
	background-color: #8892BF;
}
thead th {
	border-bottom: 2px solid #4F5B93;
}
tfoot th {
	border-top: 2px solid #4F5B93;
}
td,
th {
  padding: 5px;
  margin: 0px;
}
/* }}} */

/* {{{ Mega Drop Down */
#megadropdown {
    display: none;
    background-color: #333;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 5000;
}
#megadropdown dt {
    color: #eee;
}
#megadropdown dl {
    display: inline-block;
    vertical-align: top;
}
#megadropdown a {
    color: #eee;
    display: block;
    border-bottom: none;
    padding: 1px;
}
/* }}} */

/* {{{ Responsive styles */
#mainmenu-toggle-overlay, #mainmenu-toggle {
  display: none;
}
#mainmenu-toggle:checked + nav {
  /* This just has to be big enough to cover whatever's in nav. */
  max-height: 50em;
}
@media (max-width:40rem) {
  #mainmenu-toggle-overlay {
    background: #4F5B93 url(//php.net/images/mobile-menu.png) no-repeat center center;
    float: right;
    display: block;
    height: 32px;
    width: 34px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  #mainmenu-toggle {
    height: 32px;
    width: 34px;
    line-height: 32px;
    margin-top: 10px;
    margin-right: -34px;
    float: right;
    border-bottom: 0;
    display: inline-block;
    opacity: 0;
  }
  header nav {
    max-height: 0;
    overflow-x: hidden;
  }
  nav {
    overflow-y: auto;
    clear: both;
  }
  header nav ul,
  header nav li,
  header nav a {
    display: block;
    text-align: center;
  }
  a.home {
    position: absolute;
    top: 0;
  }
  .fullscreen,
  section.mainscreen,
  .mainscreen,
  .secondscreen,
  footer {
    width: 100%;
    display: block;
  }
  img {
    max-width: 100%;
  }
}

@media (min-width: 40rem) {
  img {
    max-width: 100%
  }
  .fullscreen {
    padding:0 .75rem;
  }
}

@media (min-width: 48rem) {
  nav a.home {
    margin-left:1.5rem;
  }
  .fullscreen {
    /* width should be evenly divisible by 4rem */
    max-width: 96rem;
    margin: 0 auto;
  }
  .mainscreen {
    width: 73.4375%;
    float:left;
  }
  .secondscreen {
    width: 26.5625%;
    float:left;
  }
  .secondscreen h1,
  .secondscreen h2,
  .secondscreen h3,
  .secondscreen h4,
  .secondscreen h5,
  .secondscreen h6 {
    margin: 0;
    background: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .secondscreen > nav {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    margin: 0;
  }
}
/* }}} */

/* vim: set expandtab shiftwidth=2 softtabstop=2 tabstop=2 fdm=marker : */
