.panel {
  margin:0;
  background:#E2E4EF;
  border:1px solid #C4C9DF;
  border-radius:2px;
}

.panel .headline, .panel .body, .panel > a {
  padding:.75rem 1rem;
  margin:0;
}

.panel .body {
  background-color:#fff;
  border-radius:0 0 2px 2px;
}

.panel ul {
  margin:0;
  padding-left:5px;
}

time.gen-date {
  font-size:0.8rem;
  display:block;
}

.version h3 .releasedate {
  float:right;
  font-weight:normal;
  color:#666;
}