/* {{{ General overrides */
body {
  background: #f2f4f6;
}
header {
  box-shadow: none;
}
footer {
  outline: .25em solid #8892BF;
}
/* }}} */

/* {{{ Users List: */
.twrapper {
  padding: 15px 0;
  background: #F2F4F6;
}
table {
  padding-right: 0;
  box-shadow: 0 0 1px #4F5B93;
}
th {
  text-align: left;
}
th:first-child {
  width: 32px;
}
table .gravatar img {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 3px;
}
a.pagination {
  color: white;
  border-bottom: none;
}
a.pagination:hover {
  color: #4F5B93;
}
a.pagination.next {
  float: right;
}
a.pagination.prev {
  float: left;
}
tfoot th {
  text-align: center;
}
table .username a {
  display: block;
  border-bottom: none;
}
span.page {
  color: white;
}
/* }}} */

/* {{{ Sidebar: avatar and information */
.profile-side img {
  border-radius: .5rem;
}
.profile-details {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
.profile-details [class^="icon-"]:before,
.profile-details [class*=" icon-"]:before {
  position: relative;
  top: .2rem;
  color: #ccc;
  padding-right: .2rem;
}
/* }}} */

/* {{{ Main Profile */
.profile-name h1,
.profile-name h2 {
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  width: 100%;
}
.profile-name h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  color: #666;
}
/* }}} */

.profile-main > h2 {
  background: transparent;
  margin-bottom: 0;
  border: none;
  padding: 0;
  margin-top: 2rem;
}

/* {{{ Responsive parts */
@media (max-width: 48rem) {
  section.fullscreen .secondscreen {
    /*display: none;*/
    padding: 1.5rem;
    border-top: 1px solid #f0f0f0;
  }
  .profile-side > div {
    float: left;
    width: 100px;
  }
  .profile-side > ul {
    float: left;
  }
  .profile-side img {
    width: 80px;
    height: 80px;
  }
  .profile-details {
    margin: 0;
  }
  .profile-main > h2 {
    margin-top: 1rem;
  }
}
@media (min-width: 48rem) {
  .fullscreen {
    width: 48rem;
    padding: 0;
  }
  section.fullscreen .mainscreen {
    padding: 20px;
    margin-left: -280px;
    float: right;
  }
  section.fullscreen .secondscreen {
    width: 230px;
    padding: 20px;
    float: left;
  }
  .profile-side img {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 66rem) {
  .fullscreen {
    width: 60rem;
  }
  section.fullscreen .secondscreen {
    width: 280px;
  }
  .profile-side img {
    width: 230px;
    height: 230px;
  }
}
/* }}} */

/* {{{ Font icons */
@charset "UTF-8";
@font-face {
  font-family: "people";
  src: url("../fonts/people.eot");
  src: url("../fonts/people.eot?#iefix") format("embedded-opentype"),
       url("../fonts/people.woff") format("woff"),
       url("../fonts/people.ttf") format("truetype"),
       url("../fonts/people.svg#people") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "people" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before {
  content: "\e000";
}
.icon-link:before {
  content: "\e001";
}
.icon-location:before {
  content: "\e002";
}
.icon-work:before {
  content: "\e003";
}
.icon-bug:before {
  content: "\e004";
}
.icon-edit:before {
  content: "\e005";
}
/* }}} */

/* {{{ Sticky footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrap {
  display: table;
  height: 100%;
  width: 100%;
}
.wrap > section.fullscreen {
  background: #fff;
  height: 100%;
}
footer {
  display: table-row;
  height: 1px;
}
footer nav.fullscreen {
  background: #333;
}
/* }}} */

/* vim: set expandtab shiftwidth=2 softtabstop=2 tabstop=2 fdm=marker : */
