body header {
  border-bottom: 0.25em solid #ff9900;
  background-color: #ffcc66;
}
body header nav a:link,
body header nav a:visited {
  color: #8C5D00;
}
body header nav a:focus,
body header nav a:hover {
  color:#D18B00;
}
body footer {
  border-top: .25em solid #ff9900;
}

h1, h2, h3, h4, h5, h6 {
  border-color: #ffcc66;
  border-top-color: #ff9900;
  background-color:#FFE4AE;
}
.mainscreen {
  border-color: #ffcc66;
}
.pullrequest {
  height: 100% !important;
}

@media (max-width:640px) {

  #mainmenu-toggle-overlay {
    background-color: #ff9900 ;
  }
}

tbody tr:nth-child(odd) {
  background-color: #ffcc66;
}
tbody tr:nth-child(even) {
  background-color: #FFE4AE;
}
tbody tr:nth-child(4n+1) {
  background-color: #ff9900;
}
tbody td a {
  color: #000000 !important;
}

dl a,
dl a:link,
dl a:visited {
  color: #6baae8;
  text-decoration: none;
  border: 0;
}

dl a:hover {
  color: #693;
  text-decoration: underline;
}

/* vim: set expandtab shiftwidth=2 softtabstop=2 tabstop=2 fdm=marker : */
